SOA/OSB_Juliano_Cervelin/Resources/Adapters/AdapterDBCobol/xsd/updateStatusPortabilidade_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/updateStatusPortabilidade" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/updateStatusPortabilidade" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CPF" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_PORTABILIDADE_STATUS" type="string" db:index="2" db:type="CHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
