SOA/OSB_Juliano_Cervelin/ModeloCanonico/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://acme.com.br/MC/JulianoCervelin" xmlns:tns="http://acme.com.br/MC/JulianoCervelin" elementFormDefault="qualified">

	<complexType name="Customer">
		<sequence>
			<element name="id" type="integer" minOccurs="0"/>
			<element name="nome" type="string" minOccurs="0"/>
			<element name="dataNascimento" type="date" minOccurs="0"/>
			<element name="cpf" type="string" minOccurs="0"/>
			<element name="telefone" type="integer" minOccurs="0"/>
			<element name="statusFinanceiro" type="string" minOccurs="0"/>
		</sequence>	
	</complexType>

</schema>